
@import '../SCSS/custom.css';


.fondo-desplazado-light{
  box-shadow: var(--bs-secondary) 0px 20px;
  background-image: linear-gradient(0deg, var(--bs-secondary) 0%, #5550 95%);
}

.fondo-pagina{
  background-color: #387554;
  background-image: linear-gradient(180deg, #d7eede 0%, #67a381 96%);
}



#contenido{
  z-index: 2 !important;
}

.fondo-contenido{
  background-color: var(--bs-secondary);
}

/* scrollbar */
html{
  
  scrollbar-width: auto;
  scrollbar-color: #67a381 #d7eede;
}

html::-webkit-scrollbar-thumb{
  background-color: var(--bs-primary);
}
html::-webkit-scrollbar-thumb:hover{
  background-color: var(--bs-primary);
}
html::-webkit-scrollbar-track{
  background-color: var(--bs-primary);
}


/* Define la animación */
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Aplica la animación al elemento */
.animacion-entrada {
    animation: fadeInUp 0.5s ease-out;
  }
  

/* Estilos para pantallas grandes (md y más grandes) */
@media (min-width: 768px) {
    .col-md-6 {
        text-align: left;  /* Alinea el texto a la izquierda en pantallas grandes */
    }
}

/* Estilos para pantallas más pequeñas (md y menores) */
@media (max-width: 767px) {
    .col-md-6 {
        text-align: center;  /* Alinea el texto al centro en pantallas pequeñas */
    }
}

.rotated{
    transform: rotate(-5deg);
}


.stack-card-primary {
    /*box-shadow: var(--bs-primary) 10px 10px, var(--bs-primary) 10px 10px, var(--bs-primary) 15px 15px, var(--bs-primary) 20px 20px, var(--bs-primary) 25px 25px;*/
    filter: drop-shadow(#8ca097 10px 10px);
  }

  .stack-card-warning {
    filter: drop-shadow(var(--bs-warning) 10px 10px);
  }
  .stack-card-gray {
    filter: drop-shadow(var(--bs-gray) 10px 10px);
  }

.stack-shadow-primary{
    box-shadow: var(--bs-primary) 10px 10px;
}
.stack-shadow-gray{
  box-shadow: var(--bs-gray) 10px 10px;
}

.stack-shadow-warning{
    box-shadow: var(--bs-warning) 10px 10px;
}

.text{
  color: #333d42; 
  text-align: center;
  text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5); 
}

.btn-primary {
  background-color: #52796f;
  color:#cad2c5 ;
  border:#387554;
}

.btn-primary:hover {
  background-color: #e2c53d; /* Cambio de color de fondo */
  color: #fff; /* Cambio de color del texto */
}

hr {
  margin-bottom: 20px; /* Puedes ajustar este valor según sea necesario */
}

